@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>SU CUENTA HA SIDO ACTIVADA</h1>

        <a href="@Url.Action("Index","LogIn")"> Regresar al log in</a>
    </div>
</body>
</html>
