@{
    ViewBag.Title = "MantDeportes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}    <!-- begin MAIN PAGE CONTENT -->



<div class="page-content">

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title">
                <h1>
                    Mantenimiento Deportes
                    @*<small>Deportes</small>*@
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Mantenimiento Deportes</li>
                    @*<li class="pull-right">
                            <div id="reportrange" class="btn btn-green btn-square date-picker">
                                <i class="fa fa-calendar"></i>
                                <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                            </div>
                        </li>*@
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet portlet-green">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-exchange fa-fw"></i> Listado de Deportes</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                   <div id="transactionsPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="table-responsive dashboard-demo-table">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th>Nombre</th>
                                        <th>Imagen</th>
                                        <th>Activo</th>
                                        <th>Fecha Ingreso</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody id="tblDeportes">                                   
                                </tbody>
                            </table>
                        </div>
                        
                        <button class="btn btn-green btn-md" data-toggle="modal" data-target="#flexModal">
                            Nuevo Deporte
                        </button>
                    </div>
                       
                </div>
                
            </div>
            @*<div id="listaEquipos"></div>*@
        </div>
    </div>
    <br>
    <br>

    <!-- Flex Modal -->
    <div class="modal modal-flex fade" id="flexModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="flexModalLabel">Nuevo Deporte</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="row">
                        <div class="col-xs-1">
                            <input type="hidden" id="hdfId" />
                            <input type="hidden" id="hdfOldImg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="txtNombre">Nombre:</label>
                            <input type="text" class="form-control" id="txtNombre"/>
                        </div>
                        <div class="col-xs-5">
                            <label for="chkActivo">Activo:</label>
                            <input type="checkbox" class="form-control" id="chkActivo" checked="checked" />
                        </div>
                    </div>
                    <br />
                    <!-- begin DROPZONE UPLOADER ROW -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="portlet portlet-default dropzone-portlet">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Dropzone Uploader Example</h4>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="portlet-body">
                                    <input type="file" id="fileUploader" />
                                </div>
                                <div id="oldImg"></div>
                            </div>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="LimpiarDiv()" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-green" id="btnGuardar" onclick="GuardarDeporte()">Guardar</button>                    
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="prueba"></div>
    <!-- /.modal -->
</div> 
@section Scripts{

    <script>
   
        var objDeporte;

        $(document).ready(function () {
            
            CargarData();
        });

        function CargarData()
        {
            $.ajax({
                type: "POST",
                async: true,
                url: '@Url.Action("Getdeportes","Deporte")',
                dataType: "json",
                success: function (response) {

                    $('#tblDeportes').empty();
                    objDeporte = response;
                    if (response.length > 0) {
                        for (var i = 0; i < response.length; i++) {
                            var deporte = response[i];
                            var imageSrc = "data:image/png;base64," + _arrayBufferToBase64(deporte.Imagen).toString();
                            var img = '<img width="100" heigth="50" src="' + imageSrc + '" alt="prueba"/>';
                            var html = '<tr>' +
                            '<td>' + deporte.Nombre + '</td>' +
                            '<td>' + img + '</td>' +
                            '<td>' + ((deporte.Activo == true) ? "SI" : "NO") + '</td>' +
                            '<td>' + formatFecha(deporte.FechaIngreso) + '</td>' +
                            '<td>' + '<input type="button" class="btn btn-danger" onclick="EditarDeporte(' + i + ')" value="Editar"/>' + '</td>' +
                            '</tr>';
                            $('#tblDeportes').append(html);
                        }
                    }
                    else {
                        MostrarAlerta("Error",'info', 'No existen deportes para mostrar');
                    }
                },
                error: function (xhr, status) {
                    
                    MostrarAlerta("Error", 'error', xhr.responseText);
                }
            });
        }
        function GuardarDeporte()
        {
            var formData = new FormData();
            
            var fileUpload = document.getElementById('fileUploader');
            formData.append("idDeporte", ($('#hdfId').val() != "") ? parseInt($('#hdfId').val()) : 0);
            formData.append("nombre", $('#txtNombre').val());
            formData.append("activo", $('#chkActivo').is(':checked'));
            if (fileUpload.files[0] == null) {
                formData.append("newFile", false);
                var array = new Array($('#hdfOldImg').val().split(','));                
                formData.append("afile", array);
            } else {
                formData.append("newFile", true);
                formData.append("afile", fileUpload.files[0]);
            }
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Deporte/SaveUploadedFile");
            xhr.onreadystatechange = function (aEvt) {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        MostrarAlerta("¡Enhorabuena!", 'success', xhr.responseText.replace('"', ""));
                        CargarData();
                        LimpiarDiv();
                    } else
                        MostrarAlerta("Error", 'error', xhr.responseText.replace('"', ""));
                } 
            }
            xhr.send(formData);
        }

        function LimpiarDiv()
        {
            $('#hdfId').val('');
            $('#hdfOldImg').val('');
            $('#txtNombre').val('');
            $('#chkActivo').prop('checked', true);
            $('#oldImg').empty();
            $('#flexModal').modal('hide');
            $('#fileUploader').val('');
        }

        function EditarDeporte(indice)
        {
            var deporte = objDeporte[indice];
            $('#oldImg').empty();
            $('#hdfId').val(deporte.IdDeporte);
            $('#hdfOldImg').val(deporte.Imagen);
            $('#txtNombre').val(deporte.Nombre);
            $('#chkActivo').prop('checked', deporte.Activo);
            $('#oldImg').append('<img width="100" heigth="50" src="data:image/png;base64,' + _arrayBufferToBase64(deporte.Imagen).toString() + '"/>');           
            $('#flexModal').modal('show');
        }

    </script>
}
