@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>Contenido en General</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->
    <!-- begin DASHBOARD CIRCLE TILES -->

    <div class="row">
        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading green">
                            <i class="fa fa-users fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content green">
                        <div class="circle-tile-description text-faded">
                            Usuarios Activos
                        </div>
                        <div class="circle-tile-number text-faded">
                            <p id="usrActivos">0</p>
                            <span id="sparklineA"></span>
                        </div>
                        <a href="#" class="circle-tile-footer">Más información <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading blue">
                            <i class="fa fa-users fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content blue">
                        <div class="circle-tile-description text-faded">
                            Usuarios pendientes
                        </div>
                        <div class="circle-tile-number text-faded">
                            <p id="usrPendiente">0</p>
                            <span id="sparklineB"></span>
                        </div>
                        <a href="#" class="circle-tile-footer">Más información<i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading red">
                            <i class="fa fa-users fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content red">
                        <div class="circle-tile-description text-faded">
                            Usuarios Inactivos
                        </div>
                        <div class="circle-tile-number text-faded">
                            <p id="usrInactivos">0</p>
                            <span id="sparklineC"></span>
                        </div>
                        <a href="#" class="circle-tile-footer">Más información<i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading purple">
                            <i class="fa fa-comments fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content purple">
                        <div class="circle-tile-description text-faded">
                            Publicaciones Free
                        </div>
                        <div class="circle-tile-number text-faded">
                            <p>95</p>
                            <span id="sparklineD"></span>
                        </div>
                        <a href="#" class="circle-tile-footer">Más información<i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading purple">
                            <i class="fa fa-comments fa-fw fa-3x"></i>
                        </div>
                    </a>
                    <div class="circle-tile-content purple">
                        <div class="circle-tile-description text-faded">
                            Publicaciones VIP
                        </div>
                        <div class="circle-tile-number text-faded">
                            <p>95</p>
                            <span id="sparklineD"></span>
                        </div>
                        <a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">
            </div>
        </div>'
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        
        function CargarData() {

            var objeto = new Object();

            objeto.idEstado = 1;

            AjaxCall("@Url.Action("GetUsuariosByEstado", "Usuario")", objeto, "", Activos, true)

            objeto.idEstado = 2;

            AjaxCall("@Url.Action("GetUsuariosByEstado", "Usuario")", objeto, "", Pendientes, true)

            objeto.idEstado = 3;

            AjaxCall("@Url.Action("GetUsuariosByEstado", "Usuario")", objeto, "", Inactivos, true)

        }


        function Activos(data) {
            $('#usrActivos').text(data);
        }

        function Pendientes(data) {
            $('#usrPendiente').text(data);
        }

        function Inactivos(data) {
            $('#usrInactivos').text(data);
        }

        $(document).ready(function () {
            $('#centralizado').removeClass('hidden')
            CargarData();
        });

    </script>

}
