@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            alert('entre otra vez')
        })
    </script>
}

<h1>

    ESTOY DENTRO DEL MANTENIMIENTO

</h1>

