.navbar{
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    margin-bottom:0px;
}


.page-upsell .bottom .subscribe-button a, .page-upsell .middle, .page-upsell .top {
    font-family: proxima-nova,sans-serif;
    font-style: normal;
    line-height: normal;
    color: #fff;
}

.page-upsell {
    background-color: #000;
    background-image: url(img/blackgradient.svg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    padding:30px 0;
}

.page-upsell .top {
    padding-top: 27px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
}

.page-upsell .middle {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.page-upsell .bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    padding-bottom: 18px;
}

.page-upsell .bottom .subscribe-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 30px;
    border-radius: 500px;
    background-color: #0098FC;
    height: 50px;
    width: 75%;
    -webkit-transition: background-color .2s ease-in,color .2s ease-in;
    transition: background-color .2s ease-in,color .2s ease-in;
    max-width: 350px;
}

.page-upsell .bottom .subscribe-button:hover {
    background-color: #006AAF;
    color: #B2B2B2;
}
