@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("RedirectUserToHomePage","Usuario")"><span class="glyphicon glyphicon-user"></span> Bienvenido @User.Identity.GetUserName() !!</a></li>
        <li><a href="@Url.Action("LogOff", "LogIn")"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
    </ul>
}
else
{
    <div class="navbar-form navbar-right">
        <div class="form-group">
            <input id="txtEmail" type="text" class="form-control" placeholder="Correo Electrónico">
        </div>
        <div class="form-group">
            <input id="txtPassword" type="password" class="form-control" placeholder="Clave">
        </div>
        <button id="LogIn" class="btn btn-default">Entrar</button>
        <div>
            <a style="color:white;" href="#"> <u>¿No puedes acceder a tu cuenta?</u></a>
        </div>
    </div>
}

