@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Nuestros Expertos</h1>
            </div>
        </div>
    </div>
</div>

<!--camajanes-->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">


                <img src="~/img/desconocido.png" class="img-circle img-camajanes" alt="Generic placeholder image" width="150" height="150">

            </div>
            <div class="col-sm-6">
                <h2>Abraham "The Z"</h2>
                <h3>NBA +863 RECORD: 28-7-1</h3>
                <p class="text-justify">
                    Un veterano trader deportivo ha cubierto la NFL durante décadas
                    y ha informado de oche Super Bowls. prefiriendo evaluar cada
                    juego desde el punto de vista del perdedor.
                </p>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <img class="img-circle img-camajanes" src="~/img/desconocido.png" alt="Generic placeholder image" width="150" height="150">

            </div>
            <div class="col-sm-6">
                <h2>Abraham "The Z"</h2>
                <h3>NBA +863 RECORD: 28-7-1</h3>
                <p class="text-justify">
                    Un veterano trader deportivo ha cubierto la NFL durante décadas
                    y ha informado de oche Super Bowls. prefiriendo evaluar cada
                    juego desde el punto de vista del perdedor.
                </p>
            </div>
        </div>
    </div>
</div>
<hr>


<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <img class="img-circle img-camajanes" src="~/img/desconocido.png" alt="Generic placeholder image" width="150" height="150">

            </div>
            <div class="col-sm-6">
                <h2>Abraham "The Z"</h2>
                <h3>NBA +863 RECORD: 28-7-1</h3>
                <p class="text-justify">
                    Un veterano trader deportivo ha cubierto la NFL durante décadas
                    y ha informado de oche Super Bowls. prefiriendo evaluar cada
                    juego desde el punto de vista del perdedor.
                </p>
            </div>
        </div>
    </div>
</div>