@{
     Layout="~/Views/Shared/_HomeLayout.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenidos a Camajan Deportivo</h1>
                <p style="color:#fff;">Bienvenido a nuestro web site de PARLEY GRATIS. Camajan Deportivo y su equipo de vasta experiencia en los pronósticos deportivos proporcionan selecciones GRATIS en todas las universidad y los deportes profesionales y otros eventos importantes de apuestas todos los días del año. Cada día, trabajamos duro para llevar sus selecciones de calidad... de forma GRATUITA. Le damos las gracias por su visita y le deseamos, siempre la mejor de las suertes! Ganare, ganare y gallina cenare...</p>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="row">
            <!-- Blog Post Excerpt -->
            <div class="col-sm-6">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h2>Exerci Tation Ullamcorper</h2>
                    </div>

                    <div class="single-post-image">
                        <img src="img/blog/2.jpg" alt="Post Title">
                    </div>

                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>15 OCT, 2014 <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
                    </div>

                    <div class="single-post-content">
                        <p>
                            Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
                        </p>
                        <a href="blog-post.html" class="btn">Read more</a>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Excerpt -->
            <!-- Blog Post Excerpt -->
            <div class="col-sm-6">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h2>Exerci Tation Ullamcorper</h2>
                    </div>

                    <div class="single-post-image">
                        <img src="img/blog/1.jpg" alt="Post Title">
                    </div>

                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>15 OCT, 2014 <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
                    </div>

                    <div class="single-post-content">
                        <p>
                            Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
                        </p>
                        <a href="blog-post.html" class="btn">Read more</a>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Excerpt -->
            <!-- Blog Post Excerpt -->
            <div class="col-sm-6">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h2>Exerci Tation Ullamcorper</h2>
                    </div>

                    <div class="single-post-image">
                        <img src="img/blog/3.jpg" alt="Post Title">
                    </div>

                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>15 OCT, 2014 <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
                    </div>

                    <div class="single-post-content">
                        <p>
                            Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
                        </p>
                        <a href="blog-post.html" class="btn">Read more</a>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Excerpt -->
            <!-- Blog Post Excerpt -->
            <div class="col-sm-6">
                <div class="blog-post blog-single-post">
                    <div class="single-post-title">
                        <h2>Exerci Tation Ullamcorper</h2>
                    </div>

                    <div class="single-post-image">
                        <img src="img/blog/4.jpg" alt="Post Title">
                    </div>

                    <div class="single-post-info">
                        <i class="glyphicon glyphicon-time"></i>15 OCT, 2014 <a href="#" title="Show Comments"><i class="glyphicon glyphicon-comment"></i>11</a>
                    </div>

                    <div class="single-post-content">
                        <p>
                            Vivamus euismod elit ac libero facilisis tristique. Duis mollis non ligula vel tincidunt. Nulla consectetur libero id nunc ornare, vel vulputate tellus mollis. Sed quis nulla magna. Integer rhoncus sem quis ultrices lobortis. Maecenas tempus nulla quis dolor vulputate egestas. Phasellus cursus tortor quis massa faucibus fermentum vel sit amet tortor. Phasellus vehicula lorem et tortor luctus, a dignissim lacus tempor. Aliquam volutpat molestie metus sit amet aliquam. Duis vestibulum quam tortor, sed ultrices orci sagittis nec.
                        </p>
                        <a href="blog-post.html" class="btn">Read more</a>
                    </div>
                </div>
            </div>
            <!-- End Blog Post Excerpt -->
            <!-- Pagination -->
            <div class="pagination-wrapper ">
                <ul class="pagination pagination-sm">
                    <li class="disabled"><a href="#">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>






<div class="section">
    <div class="container">
        <div class="row">
            <!-- Featured News -->
            <div class="col-sm-6 featured-news">
                <h2>Latest Blog Posts</h2>
                <div class="row">
                    <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></div>
                        <div class="date">14 August 2014 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="blog-post.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="blog-post.html">Sed ut perspiciatis unde omnis</a></div>
                        <div class="date">23 June 2014 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="blog-post.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="blog-post.html"> Neque porro quisquam est</a></div>
                        <div class="date">21 April 2014 </div>
                        <div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="blog-post.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
            <!-- Latest News -->
            <div class="col-sm-6 latest-news">
                <h2>Latest News</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="full-width.html">Donec elementum mi vitae enim fermentum lobortis.</a></div>
                        <div class="date">16 May 2013 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="full-width.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="full-width.html">In hac habitasse platea dictumst.</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="full-width.html"> Nam condimentum laoreet sagittis.</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
        </div>
    </div>
</div>
