@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Membresias</h1>
            </div>
        </div>
    </div>
</div>



<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Hola, bienvenidos a CD (Camajan Deportivo) donde "Reinventamos la forma de hacerte un Ganador"</h3>
                <p style="font-size:18px;">
                    ¡Únete al mayor sistema de afiliados en pronósticos deportivos del mundo y empieza a ganar dinero hoy!
                </p>
                <p style="font-size:18px;">
                    Tenemos planes que se ajustan a sus posibilidades.
                </p>
            </div>
        </div>
    </div>
</div>

<!--membresias-->

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Pricing Plans Wrapper -->
                <div id="divMembresias" class="pricing-wrapper">
                    <!-- End Pricing Plan -->
                    @*<div id="basico" class="pricing-plan">
        <h2 id="title_basico" class="pricing-plan-title">BASICO</h2>
        <div id="price_basico" class="pricing-plan-price">$5<span>USD</span></div>
        <ul id="features_basico" class="pricing-plan-features">
            <li><strong>1</strong> Dias</li>
            <li><strong>1</strong> Pronósticos analizado</li>
            <li><strong>3</strong> Pronósticos diarios</li>
            <li>Info Whatsapp o Correo</li>
            <li>Atencion personalizada</li>
            <li>Bankroll management</li>
            <li>Planes flexibles</li>

        </ul>
        <a id="btnbasico" class="btn">Seleccionar</a>
    </div>
    <!-- End Pricing Plan -->
    <div id="oro" class="pricing-plan">
        <h2 id="title_oro" class="pricing-plan-title">ORO</h2>
        <div id="price_oro" class="pricing-plan-price">$35<span>USD</span></div>
        <ul id="features_oro" class="pricing-plan-features">
            <li><strong>15</strong> Dias</li>
            <li><strong>1</strong> Pronósticos analizado</li>
            <li><strong>3</strong> Pronósticos diarios</li>
            <li>Info Whatsapp o Correo</li>
            <li>Atencion personalizada</li>
            <li>Bankroll management</li>
            <li>Planes flexibles</li>

        </ul>
        <a id="btnoro" class="btn">Seleccionar</a>
    </div>
    <!-- Promoted Pricing Plan (White Background) -->
    <div id="platinum" class="pricing-plan pricing-plan-promote">
        <h2 id="title_platinum" class="pricing-plan-promote-title">PLATIUM</h2>
        <div id="price_platinum" class="pricing-plan-promote-price">$54.99<span>USD</span></div>
        <ul id="features_platinum" class="pricing-plan-promote-features">
            <li><strong>30</strong> Dias</li>
            <li><strong>1</strong> Pronósticos analizado</li>
            <li><strong>3</strong> Pronósticos diarios</li>
            <li>Info Whatsapp o Correo</li>
            <li>Atencion personalizada</li>
            <li>Bankroll management</li>
            <li>Planes flexibles</li>
        </ul>
        <a id="btnplatinum" class="btn btn-green">Seleccionar</a>
    </div>
                    <div id="diamante" class="pricing-plan">
                        <!-- Pricing Plan Ribbon -->
                        <div class="ribbon-wrapper">
                            <div class="price-ribbon ribbon-green">OFERTA</div>
                        </div>
                        <h2 id="title_diamante" class="pricing-plan-title">DIAMANTE</h2>
                        <div id="price_diamante" class="pricing-plan-price">$99.99<span>USD</span></div>
                        <ul id="features_diamante" class="pricing-plan-features">
                            <li><strong>3</strong> Meses</li>
                            <li><strong>1</strong> Pronósticos analizado</li>
                            <li><strong>3</strong> Pronósticos diarios</li>
                            <li>Info Whatsapp o Correo</li>
                            <li >Atencion personalizada</li>
                            <li>Bankroll management</li>
                            <li>Planes flexibles</li>
                        </ul>
                        <a id="btndiamante" class="btn">Seleccionar</a>
                    </div>*@
                </div>
                <!-- End Pricing Plans Wrapper -->
            </div>
        </div>
    </div>
</div>


<hr>

@section HomeScripts{

<script type="text/javascript">

    //Nombre del id que posee el activo
    var init = "";
    $(document).ready(function () {

        CargarData();
    });

    function removeClasses(val) {
        $("#" + val).removeClass("pricing-plan-promote");
        $('#title_' + val).removeClass('pricing-plan-promote-title').addClass('pricing-plan-title');
        $('#price_' + val).removeClass('pricing-plan-promote-price').addClass('pricing-plan-price');
        $('#features_' + val).removeClass('pricing-plan-promote-features').addClass('pricing-plan-features');
        $('#btn' + val).removeClass('btn-green');
    }

    function Seleccionar(val) {
        removeClasses(init);
        $('#' + val).addClass('pricing-plan-promote');
        $('#title_' + val).removeClass('pricing-plan-title').addClass('pricing-plan-promote-title');
        $('#price_' + val).removeClass('pricing-plan-price').addClass('pricing-plan-promote-price');
        $('#features_' + val).removeClass('pricing-plan-features').addClass('pricing-plan-promote-features');
        $('#btn' + val).addClass('btn-green');
        init = val;
    }
    function CargarData()
    {
        AjaxCall('@Url.Action("GetMembresias", "Membresia")', undefined, '', CargarMembresias, false);
    }

    function CargarMembresias(response)
    {
        for (var i = 0; i < response.length; i++)
        {
            
            var mem = response[i];
            var html = '<div id="' + mem.IdMembresia + '" class="pricing-plan">' +
                    '<!-- Pricing Plan Ribbon -->';
            if ((mem.Promocion != null && mem.Promocion > 0)|| (mem.Descuento != null && mem.Descuento > 0)) {
                html +=
                    '<div class="ribbon-wrapper">' +
                        '<div class="price-ribbon ribbon-green">OFERTA</div>' +
                    '</div>';
                    
            }
            html += '<h2 id="title_' + mem.IdMembresia + '" class="pricing-plan-title">' + mem.Nombre + '</h2>';
            //Si tiene descuento aplicado
            if (mem.Descuento != null && mem.Descuento > 0) {
                html +=  '<div id="price_'+mem.IdMembresia+'" class="pricing-plan-price" style="text-decoration:line-through">$'+mem.Precio+'<span>USD</span></div>'+
                  '<ul id="features_'+mem.IdMembresia+'" class="pricing-plan-features">'+
                  '<li ><strong>Ahora por tan solo </strong> $' + (mem.Precio - mem.Descuento) + ' USD</li>' +
                  '<li class="ribbon-wrapper2 ribbon-green">' + parseInt((mem.Descuento / mem.Precio) * 100) + '% DE DESCUENTO!</li>';
                    
            }else {
                html +=  '<div id="price_'+mem.IdMembresia+'" class="pricing-plan-price">$'+mem.Precio+'<span>USD</span></div>'+
                  '<ul id="features_'+mem.IdMembresia+'" class="pricing-plan-features">';
            }
            if (mem.Promocion != null && mem.Promocion > 0) {
                html +=  '<li style="color:red">Aprovecha la oferta de '+mem.Promocion+' días más!</li>'+
                    '<li style="text-decoration:line-through">Antes <strong>'+mem.Duracion+'</strong> días</li>'+
                    '<li>AHORA <strong>' + (mem.Duracion + mem.Promocion) + '</strong> días</li>';
            }else {
                html += '<li >Pronósticos por <strong>'+mem.Duracion+'</strong> días</li>';
            }
            html+= '</ul>'+
                    '<a id="btn'+mem.IdMembresia+'" class="btn" onclick="Seleccionar('+mem.IdMembresia+')">Seleccionar</a>'+
                    '</div>';
            console.log(html);
            $('#divMembresias').append(html);
        }
    }
</script>
}