.expertos a.experto {
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E7E7E7;
}

a.experto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}

a.experto div.bloque-gris {
    font-size: 15px;
    height: 50px;
    background-color: rgba(117,129,137,.3);
    width: 24px;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: proxima-nova,sans-serif;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #75828a;
}

a.experto div.author-image {
    height: 50px;
    background-color: #EEE;
}

a.experto div.informacion-experto {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 10px;
}

a.experto div.informacion-experto div.nombre {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-family: proxima-nova,sans-serif;
}

a.experto div.informacion-experto div.profesion {
    font-size: 12px;
    font-weight: 400;
    color: #75828a;
    margin-top: 1px;
}
